body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 200;
}

.header {
  background-color: #F55A5A;
  width: 100%;
  padding: 1em;
  color: #fff;
  text-align: center;
  font-weight: 700;
}

/**** 
  
*****/

.section--entries {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.section--module {
  display: flex;
  flex-direction: row;
  align-self: center;
  max-width: 500px;
  margin-top: 2em;
}


/**** 
  test change
*****/

.module--img {
  height: 200px;
  width: 150px;
  object-fit: cover;
  font-size: 0.5rem;
  padding-right: 0.3em;
  margin-right: 1em;
  border-radius: 25px;
}

.map-icon {
  color: #F55A5A;
}

.module--location,
.module--link {
  font-size: 0.75rem;
}

.module--location {
  display: flex;
  justify-content: flex-start;
}

.module--location--name {
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0 0.5em;
}

.module--link {
  color: #918E9B;
}

.module--link:hover,
.module--link:focus {
  color:#292929;
}

/**** 
  
*****/


.module--headline {
  font-size: 2rem;
  margin: 0.3em 0;
}

.module--date {
  font-weight: 700;
  font-size: 0.75rem;
}

.module--desc {
  font-size: 0.75rem;
  line-height: 1.4;
}