body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 200;
}

.header {
  background-color: #F55A5A;
  width: 100%;
  padding: 1em;
  color: #fff;
  text-align: center;
  font-weight: 700;
}

.section--entries {
  display: flex;
}